.navbar {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.5rem;
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0 30px;
    padding: 7px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 0.75rem;
    padding-top: 7px;
  }

  ul li {
    margin-right: 20px;
  }

  ul li:last-child {
    margin-right: 40px;
  }

  ul li .link-item {
    text-decoration: none;
    color: #000;
  }
}